.profile{
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.profile-pic-box{
    
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}
.profile-pic-box .profile-img{
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}
.profile-data{
    padding: 50px;
}
.profile-data p{
 
    color: white;
    text-align: center;
    font-size: 36px;
}
.gth{

    margin-top: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 1000px;
    padding: 10px;
    
   
}
.gth p{
    font-size: 18px;
}
