.newscard{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.trending-header{
    color: #6A6E72;
  font-size: 12px;
  margin-top: 3px;
}
.trending-content{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
    
}


